name=git
type=custom
enabled=false
host=localhost
port=8001
keep=false
git=https://github.com/gogs/gogs.git
isSSL=false
dependencies=golang
config=
customScript=
start=
stop=