name=git
type=node
enabled=false
host=localhost
port=8003
keep=false
git=https://github.com/HampusMat/Githermit.git
isSSL=false
dependencies=
config=
customScript=
start=
stop=