name=kanban
type=node
enabled=false
host=localhost
port=4100
keep=false
git=https://github.com/ritik2358/Kanban-board.git
isSSL=false
dependencies=
config=
customScript=
start=
stop=