name=stats
type=node
enabled=false
host=localhost
port=8002
keep=false
git=https://github.com/Countly/countly-server.git
isSSL=false
dependencies=
config=
customScript=
start=
stop=